@import url("https://fonts.cdnfonts.com/css/homer-simpson-revised");
body {
  margin: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 107, 1) 28%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: "Homer Simpson Revised", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
  border-radius: 27px;
  box-shadow: 9px 10px 31px 0px rgba(0, 0, 0, 0.75);
}
#game-box {
  background-color: aqua;
  width: 600px;
  height: 400px;

  background-image: url("../images/casa-simpsons.jpg");
  background-position: center;
  background-size: cover;

  overflow: hidden;
  position: relative;
  user-select: none;
  border-radius: 27px;
}
#start-screen {
  width: 600px;
  height: 400px;
  background-color: aqua;
  background-image: url("../images/casa-simpsons.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
#unmute-btn {
  position: absolute;
  top: 15px;
  left: 510px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#unmute-btn img {
  height: 20px;
  width: 20px;
}
#mute-btn {
  position: absolute;
  top: 15px;
  left: 550px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mute-btn img {
  height: 20px;
  width: 20px;
}
#start-logo {
  width: 280px;
}
#start-btn,
#reset-btn {
  font-family: "Homer Simpson Revised", sans-serif;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}
#game-over-screen {
  width: 600px;
  height: 400px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/casa-simpsons.jpg");
  background-position: center;
  background-size: cover;
}
#game-over-logo {
  width: 300px;
}

#game-screen,
#game-over-screen {
  display: none;
}
#game-screen {
  position: relative;
}
#score-bar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  height: 20px;
}
#score-bar img {
  width: 20px;
  height: 15px;
}
#life-bar {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#life-bar h2 {
  margin-right: 10px;
}
#level-bar {
  position: absolute;
  left: 250px;
}
#point-bar {
  position: relative;
  left: 450px;
  top: 0px;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#donut-run-logo {
  height: 70px;
  width: 250px;
  margin-top: 25px;
}
#the-simpsons-logo {
  height: 100px;
  width: 200px;
}
